

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}



  body {
  	margin: 0;
  	padding: 0;
  	/*font-family: 'Montserrat', sans-serif;*/
		font-family:"Segoe UI",Arial,sans-serif;
  	font-size: 14px;
  	color: #000;
  	/*background: #fefefe;*/

  	background:#ccc;
  }
  .normal_font{font-family:verdana;}
  .navbar {
  	overflow: hidden;
  	background: #222835;
  }

  .navbar .logo {
  	margin-left: 20px;
  }
  .navbar .logo img{max-width:80px;width:100%; }

  .main-container {
  	width: 80%;
  	margin: 0px auto;
  	padding: 0;
  }

  .fl-right {
  	float: right!important;
  }

  .fl-left {
  	float: left;
  }

  .navbar .first-menu {
  	list-style: none;
  }

  .navbar .first-menu li a{
  	display:block;
  	float: left;
  	margin-right: 20px;
  	color:white;
  	line-height: 40px;
  }

  a{
  	color:#000;
  	text-decoration:none;
  }
  a:hover{text-decoration:underline}
  .darkblue{background:#1b212c;color:white;}

  .socials {

  	list-style: none;
  }
  .socials .fa{
  	font-size:1.6em;
  }

  .socials li a{float:left; color: #fff;  line-height: 40px; cursor:pointer;}
  .socials li.soc i.fa {position:relative; width:auto}


  	.badge{
  		position: absolute;
  		background: #29abe2;
  		height:10px;width:10px;
  		right:-5px;  top:-5px;
  		border-radius: 50%;
  	}

  .container {
  	width: 100%;
  }
  input{font-family: Montserrat;}
  .color-white{color:white;}
  .color-primary{color:#ccc}
	.bg-white{background: white;}
	h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

  h1,
  h2,
  h3,
  h4,
  h5, input[type="input"] {
  	font-family: 'Roboto', sans-serif;
  	padding:10px 0px;
  }

  .searchbar {
  	background: #fff;
  	width: 100%;
  	height: 30px;
  	border-radius: 40px;
  	border: none;
  	text-indent: 20px;
  	outline: none;margin-top:5px;
  }

  .box {
  	background: white;

  }

  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

  .box{ margin-bottom:20px;position:relative;padding-bottom:30px;}
  /**.box-img{margin-bottom:20px;}**/
  .box-img img{max-width:100%; max-height:500px;}
  .box-content{padding:5px;}
  .box.no-style{
  	background:none!important;
  	-webkit-border-radius: 0px;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	box-shadow: none;
  }
  .box.no-style img{height:100%;width:100%;}
  .box.no-style .box-img{margin-bottom:0px}



	 /* USER PROFILE */
	.user_profile{
		padding:10px 10px 0px 10px;
		overflow: hidden;
}
.user_profile .user_card{padding-top:5px;line-height:6px;}
.user_profile .user_card span{font-size:11px;}

.user_avatar_small{
	width:36px; height:36px; float:left; border-radius:50%;
}
	.user_avatar{
		width:48px; height:48px; float:left; border-radius:50%;
	}
	#add_post_panel{display:none;}


  /*.box:hover .social_interactions{display:block;}*/
  .social_interactions{
		background:white;width:100%;
		float:right;font-weight:bold;position:absolute;right:0;bottom:-10px; color:#222835; height:30px;line-height:30px;margin-left:30px;}
		.social_interactions ul{list-style: none}
		.social_interactions ul li{float:left;margin-left:10px;}

	.like_icon:hover i.fa:before{
		content: "\f004";
	}

	.comment_icon:hover i.fa:before{content:"\f075"}
  /*.social_interactions{
		float:right;margin-right:15px;position:absolute; top:5px; left:5px;display:none; color:white;font-weight:bold;
  	-webkit-transition: all 300ms ease-in-out;
  	-moz-transition: all 300ms ease-in-out;
  	-ms-transition: all 300ms ease-in-out;
  	-o-transition: all 300ms ease-in-out;
  	transition: all 300ms ease-in-out;}*/


  	.panel{
			padding:10px;
  	}

  	@media only screen and (max-width: 480px) {
  		.navbar .first-menu ul li a{
  			width:100%;
  			border-bottom:1px solid #ccc;
  			float:none;display:block
  		}
  		.main-container{width:95%;}
  		.logo{
  			margin: 0px auto;
  			padding: 0;
  			width: 77px;
  			margin-top: 10px;
  			margin-left:0px!important;
  		}
  	}



  	@media only screen and (max-width: 900px){
  		#second{width:100%;}
  		.logo-container{width:100%;}
  		.menu-container{width:100%;}
  		#branding-nav{width:100%;}
  	}

  	@media only screen and (max-width: 1000px) {
  		.span_1_of_5{width: 32.26%;}
  	}


  	@media only screen and (max-width: 480px) {
  		.span_1_of_5{width: 100%;}
  	}

  #image-upload{height:100px;}
  #image-upload:hover{cursor:pointer}

  .button-primary{
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	border:none;
  	background:#5E9BCF;
  	padding:10px;
  	color:white;
  }



  .file-upload-input::-webkit-file-upload-button {
  background:#5E9BCF;
  -webkit-border-radius: 10px;
  	border-radius: 10px;
  	border:none;
  	background:#5E9BCF;
  	padding:10px;
  }
  .file-upload-input {

    color: black;
    display: inline-block;
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .file-upload-input:hover::before {
    border-color: black;
  }
  .file-upload-input:active {
    outline: 0;
  }
  .file-upload-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }


  .input-primary{
  	-webkit-border-radius: 10px;
  border-radius: 10px;
  width:100%; height:30px; border-radius:10px; border:none;text-indent:20px;
  }
