

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}
.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%;
}

.span_6_of_12 {
	width: 49.2%;
}

.span_5_of_12 {
	width: 40.73%;
}

.span_4_of_12 {
	width: 32.26%;
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
	width: 15.33%;
}

.span_1_of_12 {
	width: 6.866%;
}
/*
#paginate-container .pagination{list-style:none;}
#paginate-container .pagination li{float:left; display:inline-block; border: 1px solid black; height:15px;width:15px; margin-right: 5px; background:white; text-align:center}
#paginate-container .pagination a{display:block;}*/


/* GENERAL STYLES */

#paginate-container{margin-bottom:50px}
ul.pagination{
	margin: 0;
	padding: 0;
	list-style-type: none;  padding: 30px 0;
	text-align:center;
}

.pagination li.disabled, .pagination li.active{}
	#paginate-container .pagination li a,.pagination li.disabled, .pagination li.active{
		display:block;
		padding: 10px 18px;
	}
	#paginate-container .pagination li{
		background: white;
		display: inline-block;
		margin-right:5px;
		color: #222;
		float:left;
	}


	#paginate-container .pagination li:first-of-type a, #paginate-container .pagination li:last-of-type a{
		color:white; font-weight:bold
	}

	#paginate-container .pagination li:first-of-type, #paginate-container .pagination li:last-of-type, #paginate-container .pagination li.active{
		background: #29abe2; color:#fff; font-weight:bold;
	}

	/* TWELVE

	#paginate-container .pagination li a:first-of-type, #paginate-container .pagination a:last-of-type, #paginate-container .pagination .active{
	background-color: #2ecc71;
	color: #fff;
	font-weight: bold;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

	.span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
		width: 100%;
	}
}



body {
	margin: 0;
	padding: 0;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 14px;
	color: #000;
	/*background: #fefefe;*/

	background:#ccc;
}
.normal_font{font-family:verdana;}
.navbar {
	overflow: hidden;
	background: #222835;
}

.navbar .logo-container{
	margin-right: 20px;
}

.navbar .logo {

}
.navbar .logo img{max-width:150px;width:100%; }

.main-container {
	width: 80%;
	margin: 0px auto;
	padding: 0;
}

.page-heading{
	text-align:center;
	padding-top:20px;
}

.fl-right {
	float: right!important;
}

.fl-left {
	float: left;
}

/*.navbar{margin-bottom:20px;}*/

.navbar .first-menu {
	list-style: none;
}

.navbar .first-menu li a{
	display:block;
	float: left;
	margin-right: 20px;
	color:white;
	line-height: 40px;
}

a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.darkblue{background:#1b212c;color:white;padding:40px 20px}

.socials {

	list-style: none;
}
.socials .fa{
	font-size:1.6em;
}
.socials li{display:inline-block}
.socials li a{float:left; color: #fff;  line-height: 40px; cursor:pointer;}
.socials li.soc i.fa {position:relative; width:auto}

.page-start{
	/*margin-top:20px*/
}

.banner img{display: block; width: 100%;object-fit: cover; position:absolute; z-index:-2;}
.profile > .user_info >.user_profile{margin-top:-75.5px; }
.profile > .user_info >.user_profile > .user_img{width:150px;}
.profile > .user_info >.user_profile > .user_img img{width:150px; height:150px;border-radius:50%;}
.profile > .user_info >.user_profile > .user_info{text-align:center;}

.profile > .user_info >.user_profile >  .social_user_actions ul{list-style: none; overflow: hidden;background: white;line-height:40px;padding:10px 10px 0px 10px;
	-webkit-border-radius: 50px;
	border-radius: 50px}
.profile > .user_info >.user_profile >  .social_user_actions {overflow: hidden;padding:60px 0px;}
.profile > .user_info >.user_profile >  .social_user_actions ul li{float:left; text-align:center; margin-right:33px;}


.profile-page{width:100%;margin-top:250px;}
.badge{
	position: absolute;
	background: #29abe2;
	height:10px;width:10px;
	right:-5px;  top:-5px;
	border-radius: 50%;
}

.container {
	width: 100%;
}
input{font-family: Montserrat;}
.color-white{color:white;}
.color-primary{color:#ccc}
.bg-primary{background:#ccc}
.bg-white{background: white;}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1,
h2,
h3,
h4,
h5, input[type="input"] {
	font-family: 'Montserrat', sans-serif;
	padding:10px 0px;
}

.searchbar {
	background: #fff;
	width: 100%;
	height: 30px;
	border-radius: 40px;
	border: none;
	text-indent: 20px;
	outline: none;margin-top:5px;
}

.box {
	background: white;

}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.box{ margin-bottom:20px;position:relative;padding-bottom:30px;}
/**.box-img{margin-bottom:20px;}**/
.box-img img{max-width:100%; max-height:500px;}
.box-content{padding:5px;}
.box.no-style{
	background:none!important;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box.no-style img{height:100%;width:100%;}
.box.no-style .box-img{margin-bottom:0px}

/* USER PROFILE */
.user_profile{
	padding:10px 10px 0px 10px;
	overflow: hidden; margin-bottom:8px;
}
.user_profile .user_card{padding-top:5px;line-height:3px;}
.user_profile .user_card span{font-size:11px;}

.user_avatar_small{
	width:36px; height:36px; float:left; border-radius:50%;
}
.user_avatar{
	width:48px; height:48px; float:left; border-radius:50%; margin-right:10px;
}
#add_post_panel{display:none;}

/*.box:hover .social_interactions{display:block;}*/
.social_interactions_single_post{
	background:white;width:100%;
	float:right;font-weight:bold;color:#657786; height:30px;line-height:30px;margin-left:30px;}
	.social_interactions{
		background:white;width:100%;
		float:right;font-weight:bold;position:absolute;right:0;bottom:-10px; color:#657786; height:30px;line-height:30px;margin-left:30px;}
		.social_interactions ul, .social_interactions_single_post ul{list-style: none}
		.social_interactions ul li, .social_interactions_single_post ul li{float:left;margin-left:10px;}

		.like_icon:hover i.fa:before{content: "\f004";}
		.remove_icon:hover i.fa:before{content: "\f1f8";}
		.comment_icon:hover i.fa:before{content:"\f075"}
		.follow_icon:hover i.fa:before{content:"\f2bb";cursor:pointer}
		.follow_icon{color:#C1272D}
		/*.social_interactions{
		float:right;margin-right:15px;position:absolute; top:5px; left:5px;display:none; color:white;font-weight:bold;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;}*/


		.panel{
			padding:10px;
		}



		#image-upload{height:100px;}
		#image-upload:hover{cursor:pointer}

		.button-primary{
			-webkit-border-radius: 10px;
			border-radius: 10px;
			border:none;
			background:#5E9BCF;
			padding:10px;
			color:white;
		}



		.file-upload-input::-webkit-file-upload-button {
			background:#5E9BCF;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			border:none;
			background:#5E9BCF;
			padding:10px;
		}
		.file-upload-input {

			color: black;
			display: inline-block;
			background: white;
			border: 1px solid #999;
			border-radius: 3px;
			padding: 5px 8px;
			outline: none;
			white-space: nowrap;
			-webkit-user-select: none;
			cursor: pointer;
			text-shadow: 1px 1px #fff;
			font-weight: 700;
			font-size: 10pt;
		}
		.file-upload-input:hover::before {
			border-color: black;
		}
		.file-upload-input:active {
			outline: 0;
		}
		.file-upload-input:active::before {
			background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
		}



		.input-primary{
			-webkit-border-radius: 10px;
			border-radius: 10px;
			width:100%; height:30px; border-radius:10px; border:none;text-indent:20px;
		}

		.center{margin:0px auto;padding:0;}
		@media only screen and (max-width: 480px) {
			.navbar .first-menu ul li a{
				width:100%;
				border-bottom:1px solid #ccc;
				float:none;display:block
			}
			.main-container{width:95%;}
			.logo{
				margin: 0px auto;
				padding: 0;
				width: 77px;
				margin-top: 10px;
				margin-left:0px!important;
			}
		}



		@media only screen and (max-width: 1000px){
			.col {  margin: 1% 0% 1% 4px; }
			.col{width:49.2%;}
			#branding-nav, #nav_tools
		}

		@media only screen and (max-width: 720px){
			/*body{background: black;}*/
			.col {width:100%}

			.pagination li{display:none!important;}
			.pagination li:first-of-type, .pagination li:last-of-type{display:inherit!important;width:33.6%;}
			.pagination li:last-of-type{float:right!important}

		}

		@media only screen and (max-width: 900px){
			#branding-nav, #nav_tools{width:100%}
			.logo-container{width:100%;}
			.menu-container{width:100%;}

		}

		@media only screen and (max-width: 1000px) {
			.span_1_of_5{width: 32.26%;}
		}


		@media only screen and (max-width: 480px) {

		}
